/* BANNER */
#banner {
	padding: 0 50px;
	background-image: url(../img/banner.jpg);
	height: 45vh;
	background-size: cover;
	background-position: center;
	&::before {
		content: '';
		background: rgba(77,77,92, 0.6);
		position: absolute;
		width: 100%;
		height: 45vh;
		left: 0;
	}
}
.contenido-banner {
	position: relative;
	color: $color_2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	h1 {
		font-size: 30px;
		font-weight: 400;
		padding: 10px 0px;
	}
}
.h1-color {
	color: $color_3;
}
.boton-banner {
	text-decoration: none;
	color: $color_2;
	border: 1px solid #3ACFC9;
	padding: 20px 40px;
	align-self: baseline;
	transition: all 0.4s;
	margin: auto;
	&:hover {
		background: #185c5a;
	}
}