/* FOOTER */
.footer {
	padding: 40px 0;
	background-color: $background-color_5;
	text-align: center;
	padding-bottom: 25px;
	color: $color_9;
	.h3-footer {
		margin: 10px;
	}
	ul {
		margin-top: 0;
		padding: 0;
		list-style: none;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
		text-align: center;
		li {
			a {
				color: $color_10;
				text-decoration: none;
				opacity: 0.8;
				&:hover {
					opacity: 1;
				}
			}
			display: inline-block;
			padding: 0 15px;
		}
	}
	.p-footer {
		margin-top: 15px;
		text-align: center;
		font-size: 13px;
		color: $color_11;
	}
}
.redes-sociales {
	.logo {
		margin-right: 15px;
	}
	text-align: center;
	padding-bottom: 25px;
	color: $color_9;
}