$color_1: white;
$color_2: #fff;
$color_3: #3ACFC9;
$color_4: #4b4b4a;
$color_5: #696968;
$color_6: #185c5a;
$color_7: black;
$color_8: orange;
$color_9: darkgray;
$color_10: inherit;
$color_11: #aaa;
$font-family_1: 'Golos Text', sans-serif;
$background-color_1: #3E3D3B;
$background-color_2: white;
$background-color_3: #92928e;
$background-color_4: #D0E1E0;
$background-color_5: rgb(97, 95, 95);
$border-color_1: aquamarine;